<h2>Create a Blog</h2>
<form action="" method="POST">
<div class='form-row'><label>Title:</label> <input type="text" name="title"></div>
<div class='form-row'><label>Content</label> <input type="text" name="content"></div>
<div class='form-row'><input type="submit" value="Create Blog"></div>
</form>
{{!-- <a href="/list/show-all">Show All Posted Blogs</a> --}}
<a href="/list/show">Show All My Posted Blogs</a>
